
/* reset CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}

body{
  height: 100vh;
}
.media{
  border: 1px solid black;
  margin: 10px;
}

/* 모바일환경 */
@media screen and (max-width: 767px){
  
}
/* 테블릿 환경 */
@media screen and (min-width:768px) and (max-width: 1024px){
  
}