/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}

body{
  height: 100vh;
}
header{
  height: 60px;
  background-color: #6c5ce7;
}
nav{
  width: 1280px;
}
.logo{}
.logo img{
  width: 100px;
  margin: 10px;
  filter: invert();
}
.gnb{}
.gnb a{}
.sns{}
.sns i{}

a:hover{
  color: red;
}


/* 모바일환경 */
@media screen and (max-width: 767px){}