/* goole web font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
*{
  box-sizing: border-box;
}
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}

/* body font-fmaily를 상속받지 않는 태그들  */
button,input,textarea{font-family: 'Montserrat', sans-serif;}

body{
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
section{}

/* header */
nav{}
nav .gnb{}
.gnb a{}
.search-box{}
.search-box input{}
.search-box button{}

/* items */
.items{}
.items .item{}
.item img{}

/* 테블릿 환경 */
@media screen and (min-width:768px) and (max-width: 1024px){}
/* 모바일환경 */
@media screen and (max-width: 767px){}