/* goole web font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
*{
  box-sizing: border-box;
}
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}
ul{margin: 0; padding: 0; text-decoration: none; list-style: none;}
/* body font-fmaily를 상속받지 않는 태그들  */
button,input,textarea,select{
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
body{
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat' , sans-serif;
  line-height: 1.5em;
}

.container{
  height: 100%;
}
/* common css */
.inner{
  /* border: 2px solid blue; */
  width: 1300px;
  margin: auto;
}
/* header */
header{}

.banner{
  background-color: black;
  height: 40px;
  display: flex;
  align-items: center;
}
.lnb{
  /* border: 2px solid red; */
  width: 1300px;
  margin: auto;
  text-align: right;
}
.lnb a{
  color: #ddd;
  margin: 5px;
}
.lnb a:last-child{
  margin: 0;
}
.lnb em{
  color: #bbbb;
}
nav{}
nav .inner{
  display: flex;
  justify-content: space-between;
}

.logo{
  padding: 10px;
}
.gnb{
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
}
.gnb li a{
  margin: 20px;
}
.gnb li a:last-child{
  margin-right: 0;
}
.gnb li a:hover{
  color: red;
}

/* intro */
main{
  border: 2px solid blue;
  height: 70vh;
}
main .inner{
  
  border: 2px solid red;
}
.heading{}
.heading h1{}
.heading p{}



/* about */
.about{}
/* ranking */
.ranking{}
/* testmonial */
.testmonial{}
/* callaction */
.callaction{}
/* festival */
.festival{}
/* footer */
footer{}