/* goole web font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
*{
  box-sizing: border-box;
}
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}

/* body font-fmaily를 상속받지 않는 태그들  */
button,input,textarea{font-family: 'Noto Sans KR', sans-serif;}

body{
  margin: 0;
  height: 100vh;
  font-family: 'Noto Sans KR' , sans-serif;
}

section{
  width: 1280px;
  margin: auto;
  height: 600px;
}
.list-header{}
.list-header h1{
  font-size: 32px;
}
/* css 가상 선택자에서 아이콘 적용하는 방법 */
.list-header h1::after{
  content:"\f101";
  font-family: fontawesome;
  margin-left: 10px;
}
.list-header p{}

.items{
  /* border: 1px solid blue; */
  height: 300px;
  display: flex;
}
.item{
  flex: 1;
  margin-right: 10px;
}
.item:last-child{
  margin-right: 0;
}
.item img{
  width: 100%;
  height: 80%;
}
.item h4{
  font-size: 16px;
  margin-bottom: 5px;
}
.item .category{
  font-weight: bold;
  color: royalblue;

}
.item p{}
.item p .fa{
  color: gold;
}
.item p em{
  font-size: 15px;
}
.item .price{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.item .badge{
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 4px;
}
.item .badge.best{
  background-color: plum;

}
.item .badge.only{
  background-color: lightgreen;
}

@media (max-width:768px){
  section{
    width: 100%;
    padding: 30px;
    height: 100%;
  }
  .list-header{
    text-align: center;
  }
  .list-header h1::after{
    content:"\f103";
  }
  .items{
    flex-direction: column;
  }
  .item{
    margin: 0;
  }
  .item:nth-child(3){
    order: -1;
  }


}