/* goole web font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
*{
  box-sizing: border-box;
}
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}

/* body font-fmaily를 상속받지 않는 태그들  */
button,input,textarea{font-family: 'Montserrat', sans-serif;}

body{
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

section{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.card{
  height: 400px;
  width: 300px;
  margin: 10px;
  position: relative;
  overflow: hidden;

}
.card:hover{
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgb(0,0,0,0.5);
}
.card:hover .content{
  top:0;
}

.card img{
  width: 100%;
  height: 100%;
}

.card:nth-child(1) .content{
  background: linear-gradient( to top,crimson, transparent);
}

.card:nth-child(2) .content{
  background: linear-gradient( to top,dodgerblue, transparent);
}

.card:nth-child(3) .content{
  background: linear-gradient( to top,yellowgreen, transparent);
}

.content{
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 20px;
  text-align: center;

  position: absolute;
  top: 100%;
  left: 0;

  padding-top: 150px;

  transition: 0.5s;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}
.content h2{
  font-size: 30px;
}
.content h2 span{
  /* border: 1px solid black; */
  font-size: 14px;
  color: gold;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

.sns{}
/* 인라인 - width, height 못가짐 */
/* 블럭 - 한줄 다 차지 마진 상 하 좌 우 값 가짐  */
/* 인라인블럭 : 컨테츠 영역 차지 + width, height 값 상 하 마진 값 가짐 , 좌우 마진 x   */
.sns a{
  color: #fff;
  border: 1px solid #fff;
  font-size: 13px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  

}
.sns a:hover{
  color: gold;
  border-color: gold;
}